//Burger Icon
.icon-menu {
	display: none;
  span, &::before, &::after {
    @media (max-width: 75rem) and (min-width: 576px) {
      background-color: var(--bs-primary);
    }
    @media (max-width: 576px) {
      background-color: #fff;
    }
  }
	@media (max-width: 75rem) {
		display: block;
    outline: none;
    border: none;
    background: transparent;
		position: relative;
		width: 2.1875rem;
		height: 1.5625rem;
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: .1875rem;
			border-radius: .625rem;
			-webkit-border-radius: .625rem;
			-moz-border-radius: .625rem;
			-ms-border-radius: .625rem;
			-o-border-radius: .625rem;
}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - .0625rem);
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - .0625rem);
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - .0625rem);
				transform: rotate(45deg);
			}
		}
	}
}
